head
    title myDribbble Meetup 2017
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href='images/favicon.ico', rel='shortcut icon', type='image/x-icon')
    meta(name='description', content='Шестой Московский myDribbble Meetup пройдет в субботу, 3 июня 2017 года, в офисе компании Mail.Ru Group')
    meta(property='og:title', content='myDribbble Meetup 2017')
    meta(property='og:description', content='Шестой Московский myDribbble Meetup пройдет в субботу, 3 июня 2017 года, в офисе компании Mail.Ru Group')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://dribbblemeetup.ru')
    meta(property='og:site_name', content='myDribbble Meetup 2017')
    meta(property='og:image', content='http://dribbblemeetup.ru/images/og-img.jpg')
    // include styles
    link(rel='stylesheet', href='style/style.css')
