div.pane__social
    a.pane__social-l(href="https://www.facebook.com/dribbbleru/")
        <svg xmlns="http://www.w3.org/2000/svg" class="pane__social-fb" viewBox="0 0 13 22">
            <path fill="currentColor" fill-rule="evenodd" d="M12.204.004L9.326 0C6.092 0 4.003 2.073 4.003 5.28v2.435H1.109a.445.445 0 0 0-.453.438v3.527c0 .242.203.438.453.438h2.894v8.9c0 .242.202.438.452.438h3.776c.25 0 .453-.196.453-.437v-8.901h3.383c.25 0 .453-.196.453-.438l.001-3.527a.43.43 0 0 0-.132-.31.46.46 0 0 0-.32-.128H8.684V5.651c0-.992.244-1.495 1.581-1.495l1.939-.001c.25 0 .452-.196.452-.438V.442a.445.445 0 0 0-.452-.438z"/>
        </svg>
    a.pane__social-l(href="https://twitter.com/dribbbleru")
        <svg xmlns="http://www.w3.org/2000/svg" class="pane__social-tw" viewBox="0 0 20 17">
            <path fill="currentColor" fill-rule="evenodd" d="M20 1.933a8.159 8.159 0 0 1-2.356.65A4.138 4.138 0 0 0 19.448.301a8.244 8.244 0 0 1-2.607 1.001A4.08 4.08 0 0 0 13.846 0C11.58 0 9.743 1.847 9.743 4.124c0 .323.036.639.106.94A11.627 11.627 0 0 1 1.393.754 4.111 4.111 0 0 0 .84 2.827 4.13 4.13 0 0 0 2.663 6.26a4.086 4.086 0 0 1-1.858-.517v.051a4.124 4.124 0 0 0 3.29 4.045 4.134 4.134 0 0 1-1.08.145c-.266 0-.522-.027-.773-.077a4.108 4.108 0 0 0 3.832 2.865 8.203 8.203 0 0 1-5.095 1.763c-.332 0-.658-.02-.979-.056a11.552 11.552 0 0 0 6.289 1.856c7.547 0 11.673-6.286 11.673-11.737l-.014-.534A8.218 8.218 0 0 0 20 1.933z"/>
        </svg>
    a.pane__social-l(href="https://vk.com/dribbbleru")
        <svg xmlns="http://www.w3.org/2000/svg" class="pane__social-vk" viewBox="0 0 24 14">
          <path d="M129.93676,34.8673728 C129.93676,34.8673728 133.099096,30.4238401 133.413024,28.9633746 C133.517841,28.4412203 133.287243,28.1493361 132.742717,28.1493361 L129.999651,28.1493361 C129.371271,28.1493361 129.140149,28.4208563 128.952527,28.8176936 C128.952527,28.8176936 127.469363,31.9652394 125.664934,33.9504699 C125.085819,34.5916754 124.791283,34.7848724 124.471066,34.7848724 C124.213216,34.7848724 124.094248,34.5707892 124.094248,33.9943309 L124.094248,28.9189915 C124.094248,28.2104282 124.010394,28.0010443 123.423942,28.0010443 L119.026335,28.0010443 C118.69092,28.0010443 118.482334,28.1952857 118.482334,28.4594957 C118.482334,29.1278532 119.508495,29.2787558 119.508495,31.0885424 L119.508495,34.8229897 C119.508495,35.5738475 119.467092,35.8657318 119.110713,35.8657318 C118.168406,35.8657318 115.928462,32.6315083 114.671704,28.9597195 C114.420142,28.2083395 114.147618,28 113.436957,28 L110.691794,28 C110.293488,28 110,28.2715202 110,28.6683575 C110,29.3983291 110.859501,32.7777115 114.233044,37.3058332 C116.494475,40.3520812 119.46814,42 122.14884,42 C123.782417,42 124.177054,41.7284798 124.177054,41.0408026 L124.177054,38.7036402 C124.177054,38.1193495 124.407652,37.8687155 124.742543,37.8687155 C125.119361,37.8687155 125.78495,37.9893331 127.338865,39.5171565 C129.182076,41.2700283 129.307333,42 130.31253,42 L133.39206,42 C133.705988,42 134,41.854319 134,41.3326869 C134,40.6434432 133.099096,39.4127256 131.717081,37.9522602 C131.152116,37.2014024 130.230249,36.3873639 129.937808,36.0124571 C129.518015,35.5748918 129.643272,35.3242578 129.93676,34.8673728 L129.93676,34.8673728 Z" transform="translate(-110 -28)"/>
        </svg>
//    a.pane__social-l(href="")
        <svg xmlns="http://www.w3.org/2000/svg" class="pane__social-od" viewBox="0 0 12 21">
            <g fill="currentColor" fill-rule="evenodd">
                <path d="M6 3.088c1.187 0 2.153.978 2.153 2.181 0 1.202-.966 2.18-2.153 2.18-1.186 0-2.153-.978-2.153-2.18 0-1.203.967-2.181 2.153-2.181zm0 7.448c2.868 0 5.2-2.362 5.2-5.267C11.2 2.363 8.868 0 6 0 3.132 0 .8 2.363.8 5.27c0 2.904 2.332 5.266 5.2 5.266z"/>
                <path d="M8.163 14.735a9.943 9.943 0 0 0 3.105-1.303 1.6 1.6 0 0 0 .491-2.189 1.553 1.553 0 0 0-2.16-.499 6.712 6.712 0 0 1-7.198 0 1.553 1.553 0 0 0-2.16.5 1.6 1.6 0 0 0 .49 2.188 9.956 9.956 0 0 0 3.105 1.303L.847 17.763a1.602 1.602 0 0 0 0 2.244 1.552 1.552 0 0 0 2.217 0l2.935-2.976 2.939 2.976c.611.62 1.603.62 2.214 0a1.6 1.6 0 0 0 0-2.244l-2.989-3.028"/>
            </g>
        </svg>
